$primary-h: 190;
$primary-s: 95;
$primary-b: 55;
$primary: #07768D;
$header-slim-bg-color: #0F4B57;
$color-text-primary-hover:hsl(190, 91%, 29%);
$color-text-primary-active: hsl(190, 91%, 29%);
$color-background-primary-lighter:hsl(190, 91%, 29%);

// CSS variables
:root {
  --bs-link-hover-color: #{$color-text-primary-hover};
}

@import "bootstrap-italia/src/scss/bootstrap-italia";



