$primary-h: 900;
$primary-s: 900;
$primary-b: 900;

$primary:#7D2670;
$secondary: #2F475E;
$accent-darker: #46163F;
$accent-midlight: #E2CADF;

$header-slim-bg-color: #262626;
$color-text-primary-hover: hsl(0, 0%, 20%);
$color-text-primary-active:hsl(0, 0%, 20%);
$color-background-primary-lighter: hsl(0, 0%, 20%);
$color-text-secondary: $secondary;
$color-text-accent: $primary;
$color-background-accent-darker: $accent-darker;

// CSS variables
:root {
  --bs-link-hover-color: #{$color-text-primary-hover};
}

body {
  --bs-light-rgb: 251, 249, 251;
  --bs-card-bg: #FFFFFF;
  --bs-primary-light: #CDE9EE;
}

.bg-accent-darker {
  background-color: $color-background-accent-darker;
}

.text-accent {
  color: $color-text-accent;
}

.icon-accent {
  fill: $color-text-accent;
}

.border-accent-midlight {
  border-color: $accent-midlight;
}

@mixin multiline-ellipsis($lines: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@for $i from 1 through 10 {
  .multiline-ellipsis-#{$i} {
    @include multiline-ellipsis($i);
  }
}

@import "bootstrap-italia/src/scss/bootstrap-italia";



