$primary-h: 248;
$primary-s: 62;
$primary-b: 41;

$primary:#312868;
$primary-light:#654795;

$secondary: #271a44;
$accent: #312868;
$accent-darker: #382055;
$accent-midlight: #010101;

$header-slim-bg-color: #1a0f2f;
$color-text-primary-hover: #382055;
$color-text-primary-active: #382055;
$color-background-primary-lighter: #382055;

$color-text-secondary: $secondary;
$color-text-accent: $accent;
$color-background-accent-darker: $accent-darker;

// CSS variables
:root {
  --bs-link-hover-color: #{$color-text-primary-hover};
}

body {
  --bs-light-rgb: 244, 250, 251;
  --bs-card-bg: #eee;
  --bs-primary-light: #cde9ee;
}

.bg-accent-darker {
  background-color: $color-background-accent-darker;
}

.text-accent {
  color: $color-text-accent;
}

.icon-accent {
  fill: $color-text-accent;
}

.border-accent-midlight {
  border-color: $accent-midlight;
}

.it-footer-main{
  background-color: #312868!important;
}
.it-footer-small-prints{
  background-color: #1a0f2f!important;
}


@mixin multiline-ellipsis($lines: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@for $i from 1 through 10 {
  .multiline-ellipsis-#{$i} {
    @include multiline-ellipsis($i);
  }
}

@import "bootstrap-italia/src/scss/bootstrap-italia";
