$primary-h: 205;
$primary-s: 35;
$primary-b: 54;

$header-slim-bg-color: #425766;
$color-text-primary-hover: hsl(210, 100%, 40%);
$color-text-primary-active: hsl(210, 100%, 40%);
$color-background-primary-lighter: hsl(210, 100%, 40%);

// CSS variables
:root {
  --bs-link-hover-color: #{$color-text-primary-hover};
}

@import "bootstrap-italia/src/scss/bootstrap-italia";



